*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 100vh;
}

.navbar {
  background: #b21d3b !important;
  
}

.register_page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.register_btn{
  background: #22326e;
  color: #fff;
  outline: none;
  border: none;
}
.register_btn:hover{
  background: #22326e;
  color: #fff;
}

.login_btn{
  outline: none;
    border: none;
    width: 100%;
}




.logout_btn{
  background: #22326e;
  color: #fff;
  outline: none;
  border: none;
}
.logout_btn:hover{
  background: #22326e;
  color: #fff;
}

.add_transaction{
  background: #22326e;
  color: #fff;
  outline: none;
  border: none;
}
.add_transaction:hover{
  background: #22326e;
  color: #fff;
}


.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

.switch-icon{
  border:1px solid rgb(0, 0, 0,0.677) ;
  border-radius: 5px;
  padding: 15px 15px;
}


.andicon svg{
  font-size: 20px;
  cursor: pointer;
}

.active-icon{
  color: black;
}

.inactive-icon {
  color:gray;
}